downloads/
.DS_Store

# Large video files - use Vimeo instead
/public/video/*.mp4
/public/video/*.mov
# Local Netlify folder
.netlify


git checkout -b main190.2
git add .
git commit -m " biige rtext old design"
git push -u origin main190.2






netlify deploy --prod --dir . 



